/*
 * Base structure
 */

body {
  font-family: sans-serif;
}

/*
 * Typography
 */

h1 {
  padding-bottom: 9px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.monospace {
  font-family: Consolas, Lucida Console, monospace;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px 0;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #eee;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

.sidebar-txt {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: small;
}

.sidebar-tag {
  text-transform: uppercase;
  margin-right: 2px;
  padding: 2px 5px 2px 5px;
  border-radius: 4px;
  font-size: x-small;
  font-weight: bold;
  background-color: #999999;
}

.sidebar-icon {
  margin-top: 4px;
  margin-right: 12px;
}

.sidebar-icon.success {
  color: #3fd112;
}

.sidebar-icon.failure {
  color: #fc4444;
}

.sidebar-icon.interrupt {
  color: #ff9400;
}

/*
 * Navbar
 */

.navbar {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
}

.navbar-txt {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: small;
}

a.nav-link {
  color: #DDDDDD;
}

a.nav-link.selected,
a.nav-link.selected:hover {
  background-color: #61666b;
}

a.nav-link:hover {
  background-color: #4b5259;
}

/*
 * Main
 */

main {
  margin-top: 60px;
}

.badge {
  margin-top: 3px;
}

.main-tag {
  text-transform: uppercase;
  border-radius: 4px;
  padding: 3px 8px 3px 8px;
  font-size: small;
  font-weight: bold;
  background-color: #999999;
}

.main-light {
  color: #999999;
}

.main-header {
  margin-bottom: 20px;
}

/*
 * Progress bar
 */

.progress-main {
  margin-bottom: 41px;
}

.progress-metric {
  margin-top: 4px;
}

/*
 * Card
 */

.card {
  margin-bottom: 30px;
}

.card-subtext {
  text-transform: uppercase;
  margin-top: 4px;
  font-weight: bold;;
  font-size: small;
}

.card-status {
  font-weight: bold;
}

.card-status.running {
  color: #1477D5;
}
