/*
 * Base structure
 */

body {
  font-family: sans-serif;
}

/*
 * Typography
 */

h1 {
  padding-bottom: 9px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.monospace {
  font-family: Consolas, Lucida Console, monospace;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px 0;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #eee;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

.sidebar-txt {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: small;
}

.sidebar-link {
  cursor: pointer;
}

.sidebar-tag {
  text-transform: uppercase;
  margin-right: 2px;
  padding: 2px 5px 2px 5px;
  border-radius: 4px;
  font-size: x-small;
  font-weight: bold;
  background-color: #999999;
}

.sidebar-icon {
  margin-top: 4px;
  margin-right: 12px;
}

.sidebar-icon.success {
  color: #3fd112;
}

.sidebar-icon.failure {
  color: #fc4444;
}

.sidebar-icon.interrupt {
  color: #ff9400;
}

.sidebar-btn {
  width: 180px;
}

.save-btn {
  width: 120px;
  margin-right:20px;
}

.run-btn {
  width: 180px;
  margin-right:20px;
}

/*
 * Navbar
 */

.navbar {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
}

.navbar-txt {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: small;
}

a.nav-link {
  cursor: pointer;
  color: #DDDDDD!important;
}

a.nav-link.selected,
a.nav-link.selected:hover {
  background-color: #61666b;
}

a.nav-link:hover {
  background-color: #4b5259;
}

/*
 * Main
 */

main {
  margin-top: 60px;
}

.badge {
  margin-top: 3px;
}

.main-tag {
  text-transform: uppercase;
  border-radius: 4px;
  padding: 3px 8px 3px 8px;
  font-size: small;
  font-weight: bold;
  background-color: #999999;
}

.main-light {
  color: #999999;
}

.main-header {
  margin-bottom: 20px;
}

/*
 * Progress bar
 */

.progress-main {
  margin-bottom: 41px;
}

.progress-metric {
  margin-top: 4px;
}

/*
 * Card
 */

.card {
  margin-bottom: 30px;
}

.card-subtext {
  text-transform: uppercase;
  margin-top: 4px;
  font-weight: bold;;
  font-size: small;
}

.card-subtext.spaced {
  margin-bottom: 6px;
}

.card-status {
  font-weight: bold;
}

.card-status.planned {
  color: #17a2b8;
}

.card-status.running {
  color: #1477D5;
}

.create-checkbox {
  margin-top: 15px;
}

.header-spaced {
  margin-bottom: 20px;
}

/*
 * Routing
 */

.routing-icon {
  margin-top: -60px;
  text-align: center;
}

.routing-icon .fa {
  color: #BBBBBB;
}

.routing-percentages {
  font-weight: bold;
  margin-top: 6px;
  display:inline-block;
}

.routing-spaced {
  margin-left: 60px;
  margin-right: 60px;
}

.routing-arrow-left {
  margin-right:-9px;
}

.routing-arrow-right {
  margin-left:-9px;
}

.routing-text-left {
  margin-top: -10px;
}

.routing-text-right {
  margin-top: -10px;
  color:red;
}

.routing-bar {
  margin-top: 8px;
  margin-bottom: 8px;
}

.routing-rules {
  margin-left:-26px;
  list-style-type: none;
}

.version-left {
  padding-left: 30px;
}

.version-right {
  padding-right: 30px;
}


/*
 * Outcome
 */

.outcome-icon {
  margin-left: 12px;
  margin-right: 20px;
}

.outcome-icon.success {
  color: #28a745;
}

.outcome-icon.failure {
  color: #fc4444;
}

.outcome-icon.interrupt {
  color: #ff9400;
}


.progress-bar.no-transition {
  transition: none;
}



/*
 * Metrics
 */

.metric {
 background-color: rgba(0,0,0,.03);
 border-radius: calc(.25rem - 1px);
 padding: 24px 24px 20px 24px;
 border: 1px solid rgba(0,0,0,.08);
 margin-bottom: 20px;
}

.metrics-icon {
  margin-right: 8px;
}

.metrics-icon.success {
  color: #28a745;
}

.metrics-fulfilled {
  color: #28a745;
}
